{%  extends 'main/main.html' %}
{% block content %}

<style>
    .img-text{
        font-size: 15px;
    }
    .fit-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .has-margin{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .center-text{
        font-size: 20px;
        font-weight: bold;
    }
</style>

<div class="container has-margin">
    <div class="row">
        <div class="col-12 text-center">
            <h class="center-text">Register</h>
        </div>
    </div>
</div>

<div class="container has-margin">
    <div class="row">
        <form method="POST" action="" class="col-12 text-center">
            {% csrf_token %}
            {{form.username.label}}
            <p></p>
            {{form.username}}
            <p></p>
            {{form.email.label}}
            <p></p>
            {{form.email}}
            <p></p>
            {{form.password1.label}}
            <p></p>
            {{form.password1}}
            <p></p>
            {{form.password2.label}}
            <p></p>
            {{form.password2}}
            <p></p>
            <input type="submit" name="Create User" class="btn btn-outline-success" value="register">
            <p></p>
            {{form.errors}}
        </form>
    </div>
</div>
<div class="container has-margin">
    <div class="row">
        <div class="col-12 text-center">
            <h class="center-text">Already have an account?</h>
            <a href="{% url 'main:login' %}" class="text-success center-text">Login</a>
        </div>
    </div>
</div>

{% endblock content %}
